.Section {
  height: 100vh;
  max-width: 100%;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: block;

  @include sm-down {
    height: auto;
    min-height: 100vh;
  }
}