// Colors
$white: #FFFFFF;
$black: #000000;
$primary: #fcff5b;
$primary-dark: #c8a058;
$primary-darker: #7e5f26;
$violet: #81667A;
$tiffany: #9DD9D2;
$pink: #D8A7CA;
$gray-900: #12171b;
$gray-1000: #070c0f;
$success: #22c55f;
$info: #12a5e9;

$header-height: 70px;

// Breakpoints
$sm-breakpoint: 600px;
$md-breakpoint: 960px;
$lg-breakpoint: 1264px;
$xl-breakpoint: 1904px;

// Border
$border-radius: 12px;
$border-radius-lg: 16px;
$border-radius-sm: 8px;